@use "@/style/_variables" as *;

.component-container {
  overflow: hidden;
  display: flex;
  gap: 10px;

  .thumbnail-wrapper {
    position: relative;
    height: 100%;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .information {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: $font-color--black;

    .h3-wrapper {
      padding-bottom: 10px;

      h3 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        margin: 0;
        font-weight: 500;
      }
    }

    .p-wrapper {
      p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        width: 100%;
        margin: 0;
        line-height: 1.6em;
        font-size: 13px;
        color: $font-color--dark-gray;
      }
    }

    small {
      padding-top: 10px;
      margin-top: auto;
      font-weight: 500;
      color: $font-color--bright-gray;
    }
  }
}

.component-container.main {
  flex-direction: column;
  gap: 0;

  @include tablet {
    grid-area: 1 / 1 / 4 / 2;
  }

  .thumbnail-wrapper {
    width: 100%;
    aspect-ratio: 1 / 0.3;

    @include tablet {
      height: 60%;
    }
  }

  .information {
    @include tablet {
      height: 40%;
    }

    .h3-wrapper {
      padding: 13px 0 10px;

      @include tablet {
        padding: 18px 0 15px;
      }

      h3 {
        font-size: 13px;

        @include tablet {
          font-size: 18px;
        }
      }
    }

    .p-wrapper {
      p {
        font-size: 12px;

        @include tablet {
          font-size: 13px;
        }
      }
    }
  }
}
