@use "@/style/_variables" as *;

.component-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .thumbnail-wrapper {
    position: relative;
    width: 100%;
    height: 55%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .information {
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: $font-color--black;

    h3 {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      margin: 12px 0 8px;
      font-size: 13px;
      font-weight: 500;
      color: $font-color--black;

      @include tablet {
        margin: 15px 0 10px;
        font-size: 15px;
      }
    }

    p {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      width: 100%;
      margin: 0;
      line-height: 1.6em;
      font-size: 12px;
      color: $font-color--dark-gray;
    }

    .small-box {
      display: flex;
      gap: 20px;
      padding-top: 10px;
      margin-top: auto;
      font-size: 12px;

      small {
        color: $font-color--bright-gray;

        @include tablet {
          font-size: 12px;
        }
      }

      .created-at {
        display: none;

        @include tablet {
          display: inline-block;
        }
      }

      span {
        font-weight: 600;
        font-family: "Charmonman", cursive;
      }
    }
  }
}

.component-container.column {
  flex-direction: column;

  .thumbnail-wrapper {
    width: 100%;
    aspect-ratio: 1 / 0.55;

    @include tablet {
      aspect-ratio: auto;
      height: 40%;
    }
  }

  .information {
    flex-grow: 1;
    width: 100%;
    
    @include tablet {
      height: 35%;
    }

    .h3-wrapper {
      padding: 13px 0 10px;

      @include tablet {
        padding: 18px 0 15px;
      }

      h3 {
        font-size: 13px;

        @include tablet {
          font-size: 15px;
        }
      }
    }

    .small-box > :first-child {
      display: none;

      @include tablet {
        display: block;
      }
    }
  }
}