@use "@/style/_variables" as *;

* {
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  background-color: $back-ground-color--white;

  body {
    margin: 0;
    padding-top: 80px; // Header 컴포넌트의 fixed 영역 확보

    @include tablet {
      padding-top: 145px;
    }
  }
}