@use "@/style/_variables" as *;

.component-container {
  width: 100%;
  padding: 0 #{$safe-area--mobile}px;

  @include tablet {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 #{$safe-area--tablet}px;
  }

  h2 {
    font-size: 30px;
    font-weight: 600;
    font-family: "Charmonman", cursive;
  }

  ul {
    overflow-x: scroll;
    list-style-type: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    gap: 15px;
    padding: 0;

    li {
      min-width: 70px;
      padding: 5px 8px;
      border: 1px solid $border-color--gray;
      text-align: center;
      white-space: nowrap;
      letter-spacing: 0.5px;
      font-size: 12px;
      color: $font-color--black;

      &:hover {
        cursor: pointer;
      }
    }

    li.--selected {
      background-color: $font-color--black;
      border: none;
      color: $back-ground-color--white;
    }
  }

  .article-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px 20px;
    width: 100%;
    aspect-ratio: 1 / 2;


    @include tablet {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, minmax(360px, 1fr));
    }

    // @include desktop {
    //   grid-template-columns: repeat(4, 1fr);
    // }
  }
}