$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1025px;

@mixin mobile {
  @media (min-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

$max-width: 1100;

$safe-area--mobile: 10; // 좌우 or 상하좌우 padding 값
$safe-area--tablet: 20;
$safe-area--desktop: 20;

$header-height: 59;

$footer-height--mobile: 296;
$footer-height--tablet: 329;

$back-ground-color--white: #FEFEFE;

$border-color--gray: #e4e4e4;

$font-color--black: #333333;
$font-color--dark-gray: #7e7e7e;
$font-color--bright-gray: #b6b6b6;

$mint-color: rgb(9, 204, 178);

/*
  font = [
    {
      font-family: "Roboto Condensed", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
    },
    {
      font-family: "Charmonman", cursive;
      font-weight: 400;
      font-style: normal;
    }
  ]
*/